<form action="tickets" method="POST">
    <label for="number_phone">Ingrese su numero telefónico</label>
    <input type="number" name="number_phone" required>
    <a href="/api/mail/enviar-correo">
        <button type="submit">Realizar compra</button>
    </a>    
</form>